html {
	overflow: hidden;
	background-color: #181818;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: 0px;
}

.mge-main canvas {
	background-color: #181818;
}

.mge-overlay section {
	top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
}

.mge-overlay #landscape,
.mge-overlay #fullscreen {
	background-color: #181818;
}

.mge-hidden {
	display: none;
}
