html {
	overflow: hidden;
	background-color: #333;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: 0px;
}

.mge-main canvas {
	background-color: #181818;
	filter: blur(0px);
}

.mge-main section {
	top: 0px;
	position: absolute;
	width: 100vw;
	height: 100vh;
	color: white;
}

.mge-hidden {
	display: none;
}

.on-cover {
	touch-action: none;
}
