/* Style applied to example overlay image */
.mge-overlay #example img {
	border-radius: 20%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* Style applied to canvas when the example overlay is shown */
.mge-canvas-on-example-section {
	filter: blur(5px);
}
